@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    background-color: #fefae0;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

body {
    background-color: #283618;
    color: white;
}

html{
    scroll-behavior: smooth;
}
.logo {
    font-size: 2em;
    color: #bc6c25;
    cursor: default;
}
.logo span {
    color: #283618;
}
.navigation {
    margin-left: -300px;
}
.navigation a {
    font-size: 1.1em;
    color: #283618;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover {
    color: rgb(232, 166, 42);
}
.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: rgb(232, 166, 42);
    border-radius: 10px;
    border: 2px solid rgb(232, 166, 42);
    font-weight: 500;
    transition: .3s;
}
.btn-talk:hover {
    color: rgb(232, 166, 42);
    background: transparent;
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}
.content {
    max-width: 500px;
    background-color: #283618;
    color: white;
}
.content h2 {
    font-size: 3em;
}
.content h2 span {
    color: rgb(232, 166, 42);
}
.content h4 {
    font-size: 2em;
}
.content p {
    padding: 10px 0 40px 0;
}
.btn-group a {
    color: rgb(232, 166, 42);
    text-decoration: none;
    padding: 10px 40px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid rgb(232, 166, 42);
    font-weight: 500;
    transition: .3s;
}
.btn-group a:hover:nth-child(1) {
    color: #fff;
    background: rgb(232, 166, 42);
}
.btn-group a:nth-child(2) {
    color: rgb(232, 166, 42);
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}
.btn-group a:hover:nth-child(2) {
    color: #fff;
    background: rgb(232, 166, 42);
}
.social-icons {
    position: absolute;
    bottom: 50px;
}
.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    transition: .3s;
}
.social-icons a:hover {
    transform: translateY(-5px);
    
}
.social-icons a i {
    color: #fff;
}

.social-icons a i:hover {
    color: rgb(232, 166, 42);
}

.pic_content img{
    border-radius: 50%;
    display: flex;
    height: 400px;
    width: 400px;
}

.about {
    position: relative;
    width: 100%;
    height: 40vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    display: flex;
}

.about h2 {
    text-align: center; /* Text alignment */
    font-size: 3em;
}

.about_content {
    text-align: center;
    font-size: 18px;
    padding: 80px;
}


.violin {
    position: relative;
    width: 100%;
    height: 40vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    display: flex;
}
.violin h2{
    text-align: center;
    font-size: 3em;
}
.violin_content {
    text-align: center;
    font-size: 18px;
    padding: 80px;
}

.gear {
    position: relative;
    width: 100%;
    height: 40vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    display: flex;
}
.gear h2{
    text-align: center;
    font-size: 3em;
}
.gear_content {
    text-align: center;
    font-size: 18px;
    padding: 80px;
}

.contact {
    position: relative;
    width: 100%;
    height: 40vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    display: flex;
}
.contact h2{
    text-align: center;
    font-size: 3em;
}
.contact_content {
    text-align: center;
    font-size: 18px;
    padding: 80px;
}